.scroller {
  overflow: hidden;
  position: relative;
}

.track,
.trackClone {
  --track-gap: 24px;
  display: flex;
  gap: var(--track-gap);
  width: max-content;
  will-change: transform;
}

.track {
  animation: scroll 28s linear infinite;
}

.trackClone {
  animation: scroll2 28s linear infinite;
}

.itemImage {
  border-radius: 6px;
  height: 150px;
  width: 220px;
  object-fit: cover;
}

@keyframes scroll {
  0% {
    transform: translate3d(0, 0, 0);
  }
  100% {
    transform: translate3d(-100%, 0, 0);
  }
}

@keyframes scroll2 {
  0% {
    transform: translate3d(100%, 0, 0);
  }
  100% {
    transform: translate3d(0, 0, 0);
  }
}

.noAnimation {
  animation: none !important;
}
